<!DOCTYPE html>
<html>
<head>
    <title>Welcome to our online book store</title>
</head>
<body>

<p><b>Feedbacks:</b><a href="/book/{{book}}/topfeedback/5">view top5</a> <a href="/book/{{book}}/topfeedback/10">view top10</a></p>

<table border="1">

<tr>

<th>User</th>
<th>Feedbacks</th>
<th>Rate</th><th>UsefulnessRate</th>
</tr>

{% for feedback in feedbacklist%}
    <tr>

    <td>{{feedback.user.username}}</td><td>{{feedback.text}}</td><td>{{feedback.rate}}</td>
<td>{{feedback.avgrate}}</td>
    <td>
    <form name="feedbackrate" action="{{feedback.id}}/feedbackrate" method="push">
    usefulness rate: <select name="rate">
    <option value=0>0(less useful)</option>
    <option value=1>1(useful)</option>
    <option value=2>2(very useful)</option>
    </select>
    <input type="submit" value="rate">
    </form>
    <td> 
    </tr>
{% endfor %}
</table>
<a href="/book/?id={{book}}">back to book detail</a> 
</body>
</html>